$border-color: #428bca; // ボーダーライン

.header {
  display: flex;
  color: #fff;
  background-color: #3d3d3d;
  z-index: 10;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  

  .container {
    position: relative;
    max-width: 100%;
    padding:0 8px !important;
  }
}


.body-container {
  width: 100%;
  margin: 0;
  padding: 0 16px;
}

.three-container {
  width: 100%;
  margin-top: 5px;
}


#myCanvas {
  width: 100% !important;
}


