<div class="menu">
  <div class="selectFEM">
    <form>
      <select
        [(ngModel)]="fileIndex.selectedIndex"
        (change)="onSelectChange($event.target.value)"
        name="first"
      >
        <option *ngFor="let item of FEMlist" [value]="item.id" [selected]="1">
          {{ item.name }}
        </option>
      </select>
    </form>
  </div>

  <input type="button" class="button" value="計算開始" (click)="modal()" />
  <!-- <input type="button" value="コンター" (click)="conter()"/> -->

  <div class="result_forms" id="result">
    <p>変位量最大 {{ d }}</p>
    <!-- <p>{{d}}</p> -->
  </div>
</div>
