.control {
    top: 380px;
    padding: 2pt 0 2pt 0;
    background-color: #f5f5f5;
    position: absolute;
}

.menu {
    @media screen and (max-width: 767px) {
        display: block;
        text-align: center;
    }
}

.selectFEM {
    margin: 8px;
    display: inline-block;
}

.button {
    //display: inline-block;
    width: 120px;
    margin: 8px;
    padding: 8px;
    color: #ffffff;
    background: #669987;
    border-radius: 4px;
    font-size: 16px;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

#result {
    display: none;
    margin: 8px;
}