<div class="menu">
  <div class="selectFEM">
    <form>
      <select
        [(ngModel)]="fileIndex.selectedIndex"
        (change)="onSelectChange($event.target.value)"
        name="first"
      >
        <option *ngFor="let item of FEMlist" [value]="item.id" [selected]="1">
          {{ item.name }}
        </option>
      </select>
    </form>
  </div>

  <input type="button" class="btn btn--green btn--cubic" value="計算開始" (click)="modal()" />
  <!-- <a href="#" class="">計算開始</a> -->

  <div class="result_forms" id="result">
    <p>変位量最大 {{ d }} (mm)</p>
  </div>
</div>
