.control {
    top: 380px;
    padding: 2pt 0 2pt 0;
    background-color: #ffffff;
    position: absolute;
}

.menu {
    @media screen and (max-width: 767px) {
        display: block;
        text-align: center;
    }

    .btn--green {
        margin-top: 10px;
        margin-left: 150px;
        float: left;
        color: #3d3d3d;
        background-color: #3cb371;
        border-bottom: 4px solid #308f5a;
        height: 35px;
        width: 100px;
        font-size: 15px;
        border-radius: 10px;
        &:hover {
            opacity: 0.75;
        }
    }
}

.selectFEM {
    margin: 8px;
    display: inline-block;
}

.button {
    //display: inline-block;
    width: 120px;
    margin: 8px;
    padding: 8px;
    color: #ffffff;
    background: #669987;
    border-radius: 4px;
    font-size: 16px;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

#result {
    display: none;
    margin: 8px;
}
